<footer>
    <div class="container fixed-bottom">
        <div class="d-flex justify-content-center">
            Powered&nbspby&nbsp<a href="https://www.themealdb.com/api.php">TheMealDB</a>
        </div>
    </div>
</footer>