<footer>
    <div class="container fixed-bottom">
        <div class="d-flex justify-content-center">
            Powered&nbspby&nbsp<a href="https://rapidapi.com/apidojo/api/tasty">Tasty API</a>
        </div>
    </div>
</footer>