:root {
    --main-text-color: #6b8e23;
  }

html {
    background-image: url('/assets/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10vh;
}

body {
    background-color: #DCEDC8 !important;
    color: var(--main-text-color) !important;
    border-radius: 25px;
    min-height: 80vh;
}

.nav-item {
    text-align: right;
}

.navbar-nav > li.nav-item {
    margin-left: 5px;
}

.navbar-nav > li.nav-item > a {
    background-color: transparent !important;
    color: var(--main-text-color);
}

.navbar-nav > li.nav-item > a.active {
    color:var(--main-text-color);
    text-decoration: underline;
    font-weight: bolder;
}

.navbar-nav > li.nav-item > a:hover {
    color:white;
}

footer, footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-btn {
    border-color: var(--main-text-color) !important;
    color: var(--main-text-color) !important;
}

.search-btn:hover {
    background-color: var(--main-text-color) !important;
    color: white !important;
}

.search-input:focus {
    box-shadow: none !important;
    border-color: var(--main-text-color) !important;
}

.clickable {
    cursor: pointer;
}

.card-img-top {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.card-body {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-body img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.modal-body p {
    /* word-wrap: break-word; */
    margin-bottom: 0;
}

.bold-icon {
    -webkit-text-stroke: 1px;
}

.pagination-button {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.pagination-button.disable {
    color: lightgray;
}

.pagination-button.active {
    text-decoration: underline;
    font-weight: bold;
}

.pagination-button:not(.disable):hover {
    font-weight: bolder;
    text-decoration: none;
    background-color: var(--main-text-color);
    color: white;
    cursor: pointer;
}

#contact-section a {
    color: var(--main-text-color);
}

.pushback {
    z-index: -1;
}