<%- include('../partials/header'); %>
<div class="container">
  <!-- pic -->
  <div class="row justify-content-center">
    <div class="col col-8 col-sm-6 col-md-4 mb-3">
      <img src="/assets/chili-pepper.png" width="40%" class="center">
    </div>
  </div>
  <!-- text -->
  <div class="row justify-content-center">
    <div class=" w-50 text-center mb-3">
      <p>
        Special Thanks to the awesome TheMealDB
      </p>
      <p>
        If you have any idea or advice about this small project, even just wanna connect, please don't hesitate to find me through following links :D
      </p>
    </div>
  </div>
  <!-- contact  -->
  <div class="d-flex justify-content-center" id="contact-section">
    <a href="https://github.com/iven-yao" target="_blank"><i class="bi bi-github m-3"></i></a>
    <a href="https://www.instagram.com/iven_yao/" target="_blank"><i class="bi bi-instagram m-3"></i></a>
    <a href="https://www.linkedin.com/in/chih-ken-yao/" target="_blank"><i class="bi bi-linkedin m-3"></i></a>
  </div>
</div>

<%- include('../partials/footer'); %>

</body> 
</html>