<%- include('../partials/header'); %>
<div class="container">
  <!-- pic -->
  <div class="row justify-content-center">
    <div class="col col-8 col-sm-6 col-md-4 mb-3">
      <img src="/assets/cabbage.png" width="40%" class="center">
    </div>
  </div>
  <!-- btns -->
  <div class="d-flex flex-wrap justify-content-center mb-3 pb-3 px-3 border-bottom">
    <% categories.forEach(function(category) {%>
      <button type="button" class="btn olive-btn m-1 cate-btn" id=<%=category.strCategory%>><%= category.strCategory%></button>
    <%})%>
  </div>
  <!-- result -->
  <div class="row pb-5 justify-content-center" id="search_result">  
  
  </div>
</div>

<%- include('../partials/footer'); %>

</body> 
</html>