<%- include('../partials/header'); %>
<div class="container">
  <!-- pic -->
  <div class="row justify-content-center">
    <div class="col col-8 col-sm-6 col-md-4 mb-3">
      <img src="/assets/sweet-pepper.png" width="40%" class="center">
    </div>
  </div>
  <!-- result -->
  <div class="row pb-5 justify-content-center" id="fav_result">
  </div>
</div>

<%- include('../partials/footer'); %>

</body> 
</html>