<%- include('../partials/header'); %>
<div class="container">
  <!-- pic -->
  <div class="row justify-content-center">
    <div class="col col-8 col-sm-6 col-md-4 mb-3">
      <img src="/assets/radish.png" width="40%" class="center">
    </div>
  </div>
  <!-- form -->
  <div class="row justify-content-center mb-3">
    <div class="col col-10 col-sm-8 col-md-6">
      <div class="input-group">
        <input id="search_str" class="form-control search-input" type="search" placeholder="What to cook today?" aria-label="Search">
        <button id="search_btn" class="btn btn-outline-success search-btn" type="submit"><i class="bi bi-search"></i></button>
      </div>
    </div>
  </div>
  <!-- random -->
  <div class="d-flex justify-content-center mb-3" id="random_section">
        <span id="random_txt">No idea? Try a random recipe! </span><span class="ms-2 bold-icon"><i class="bi bi-shuffle clickable random_btn"></i></span>
  </div>
  <!-- result -->
  <div class="row pb-5 justify-content-center" id="search_result">  
  </div>

</div>

<%- include('../partials/footer'); %>

</body> 
</html>